body {
}

.body-div
{
    width:940px;
    margin:5px auto;
    border:1px solid rgb(216, 227, 233);
}

#content
{
    padding:30px;
}

#content p
{
    text-indent:2em;
}

#content h1
{
    text-align:center;margin:0px; font-weight:bold;
}

.button{
   height:30px;
   width:100px;
   display:block;
   text-align:center;
   line-height:30px;
   text-decoration:none;
   color:White;
   background-color:rgb(38,185,255);
   margin:10px 0 10px 450px;
   cursor:pointer;
   font-size:16px;
}

.button:hover
{
    background-color:rgb(55,210,255);
}  
