*
{
	margin:0;
	padding:0;
}

body {
}

#main
{
	width:531px;
	margin:40px auto;
}

#content_top
{
	height:20px;
	background:url(images/pay/bk_01.png) no-repeat left top;
}

#content_bottom
{
	height:17px;
	background:url(images/pay/bk_03.png) no-repeat left top;
}

#content
{
	background:url(images/pay/bk_02.png) repeat-y left top;
	padding:0 4px 0 4px;
	height:300px;
}

#result
{
	background-repeat:no-repeat;
	background-position:center 80px;
	padding:150px 0 0px 250px;
	height:100px;
}

#result p
{
	font-size:14px;
	font-weight:bold;
	line-height:20px;
	color:#888;
	padding:0 0 0 5px;
}

.cg
{
	background-image:url(images/pay/cg_01.png);
}

.sb
{
	background-image:url(images/pay/sb_01.png);
}


.gban
{
	display:block;
	width:96px;
	height:37px;
	background:url(images/pay/gb_01.png) no-repeat left top;
	margin:0 auto;
}

.gban:hover
{
	background-image:url(images/pay/gb_01_over.png);
}