body 
{
    background-color:White;
}
.content
{
    width:1000px; 
    height:430px; 
    border:1px solid rgb(226,226,226);
    background-color:rgb(255,255,255);
    margin:0 auto;
    margin-top:20px;
    margin-bottom:80px;
}

.title
{
    width:99%;
    height:50px;
    padding-left:10px;
    background-color:rgb(250,250,250);
    color:rgb(70,70,70);
    border-bottom:1px solid rgb(226,226,226);
    font-size:15px;
    font-weight:bold;
    line-height:50px; 
}

#inputDiv
{
    padding:74px 0 0 380px;
}

/*#sendEmailSuccess
{
    margin:56px 0 0 306px;
}*/

#sendEmailSuccess
{
    padding:56px 0 0 306px;
}

#sendedTips
{    
	margin-left:8px;
	font-size:14px;
}

#sendedIcon
{    
    margin-top:8px;
}

.interval
{
    margin-top:12px;
}

.hRadio 
{
    padding-left: 22px; 
    display:inline-block;
	background: transparent url(images/pub/radio.png) no-repeat left top;
	height: 18px; 
	line-height:18px;
	cursor:pointer;
	color:rgb(141,141,141);
	font-size:16px;
	vertical-align:middle;
}

.hRadio_Checked { background-position: left bottom;}

#passwordVerifyCode
{
    margin:12px 6px 0 6px;
}

#updateVerifyCode
{
    display:block;
    text-decoration:none;
    line-height:26px;
    margin-top:10px;
    cursor:pointer;
    color:rgb(0,127,176);
}

.linecolor{
    color:rgb(220,220,220);
    line-height:40px;
}

#gobackselect
{
    text-decoration:none;    
    color:rgb(255,0,0);
    cursor:pointer;
}

.resend
{
    font-size:12px;
    margin-left:26px;
    display:block;
}

.button-short
{
    width: 84px;
}

.button-long
{
    width: 114px;
}

.button
{
   height:35px;
   display:block;
   text-align:center;
   line-height:35px;
   text-decoration:none;
   color:White;
   background-color:rgb(38,185,255);
   margin-top:10px;
   cursor:pointer;
}

.button:hover
{
    background-color:rgb(55,210,255);
}

.button-resend
{
    width:142px;
    height:30px;
    line-height:30px;
    display:block;
    background-color:rgb(253,253,253); 
    border:1px solid rgb(228,228,228);  
    text-align:center;
    cursor:pointer; 
    color:rgb(5,5,5);
    margin:0 0 0 110px;
    text-decoration:none;
}

.button-resend:hover
{
   background-color:rgb(255,255,255);     
}

#inputMsg
{
    margin:90px 0 0 380px;
}

#inputMsgCode
{
    display:block;
}

#phoneSetPwd
{
    margin:80px 0 0 308px;
    display:none;
}

#inputPwd
{
    
}

#inputPwd td
{
    
}
.table-left
{
    width:100px;  
    height:40px; 
}

.table-left span
{
    text-align:right;
    display:block;
    line-height:40px;
}

#resetSuccess
{
    margin:73px 0 0 313px;
    display:none;
}

#resetSuccess div
{
    border:1px solid rgb(233,242,216);
    background-color:rgb(247,255,237);
    width:362px;
    height:104px;
}

.resetSuccessTips
{
    background: transparent url(images/account/check.png) no-repeat;
    padding:2px 0 5px 40px;
    font-size:16px;
    font-weight:bold;
    line-height:25px;
    color:rgb(54,150,0);
    display:inline-block;
    margin:40px 0 0 100px;
}

#gotoLogin
{
    margin:18px 0 0 124px;
}

#tips
{
    color:Red;
    font-size:14px;
    margin-left:6px;
}

.error
{
    position:absolute;
    width:1000px;
    top:230px;
    text-align:center;
    font-size:12px;
    color:#E83827;    
}

.get-verfity_code
{
    cursor:pointer;
    text-decoration:none;
    color:rgb(102,104,103);
    line-height:27px;
    height:27px;
    width:128px;
    display:block;
    font-size:12px;
    text-align:center;    
    background:url(images/account/login_btn.png) no-repeat 0px 0px;
}

.get-verfity_code:hover
{
    background:#ffffff;
    background:url(images/account/login_btn.png) no-repeat 0px -27px;
}

