<?xml version="1.0"?>
<configuration>

    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XF_Web_Concise.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
      <add key="emailAddress" value="2261664679@qq.com"/>
      <add key="displayName" value="我的幸福相馆"/>
      <add key="emailPwd" value="o2Z]l5Inn6o1ya2sal8vsM2OYU0R8pA-005Zh"/>
      <add key="emailBody" value="邮件内容"/>
      <add key="emailSubject" value="邮件标题"/>
      <add key="smtpServer" value="smtp.qq.com"/>
      <add key="enableSsl" value="true"/>
      <add key="smtpPort" value="587"/>
      <add key="webPath" value="http://192.168.0.10/xfxg2013"/>
      <add key="webPayUrl" value="http://192.168.0.10/webpay/pay_mode.aspx"/>
      <add key="newsUrl" value="http://192.168.0.10/xfxg2012/onlineHelp/News.html"/>
      <add key="smsUrl" value="http://192.168.0.10/admif/wsif.asmx"/>
      <add key="pdfWidth" value="760"/>
      <add key="pdfHeight" value="900"/>
      <add key="pdfBigHeight" value="1200"/>
      <add key="EmailUrl" value="http://192.168.0.10/XFXGComInterface/sendemail_ws.asmx"/>
      <add key="SMSUrl" value="http://192.168.0.10/admif/wsif.asmx"/>
      <add key="InterFaceWebPath" value="http://192.168.0.10/XFXGComInterface/"/>
      <add key="InterFaceWervicePath" value="http://192.168.0.10/XFXGComInterface/xfxg_ws.asmx"/>
      <add key="HuiZhiPath" value="http://192.168.0.10/zzt2012/huizhi.aspx"/>
      <add key="FlashUploadPath" value="http://192.168.0.10/XFXGComInterface/"/>
      <add key="WSPhoto" value="http://192.168.0.254/bzztcwi/Entrance.asmx"/>
    </appSettings>
  
    <connectionStrings>
      <add name="XFDB" connectionString="Password=xgyh111;Persist Security Info=True;User ID=xgyhadm;Data Source=xgyhdb"/>
      <add name="XFBUDB" connectionString="Password=xgyh111;Persist Security Info=True;User ID=xgyhadm;Data Source=xgyhdb"/>
    </connectionStrings>
  
    <system.web>
        <compilation debug="true">

        </compilation>
        <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
        <authentication mode="Windows" />
        <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->

      <!--<sessionState mode='StateServer' stateConnectionString='tcpip=127.0.0.1:42424' sqlConnectionString='data source=127.0.0.1;Trusted_Connection=yes' timeout='60'/>-->
      <sessionState mode="StateServer" cookieless="false" timeout="60" stateNetworkTimeout="14400"></sessionState>
      <machineKey validationKey="78AE3850338BFADCE59D8DDF58C9E4518E7510149C46142D7AAD7F1AD49D95D4" decryptionKey="5FC88DFC24EA123C" validation="SHA1"/>

    </system.web>

    <applicationSettings>
        <XF_Web_Concise.Properties.Settings>
            <setting name="XF_Web_Concise_SendMessage_WSIF" serializeAs="String">
                <value>http://192.168.0.10/admif/wsif.asmx</value>
            </setting>
            <setting name="XF_Web_Concise_InterfaceWS_xfxg_ws" serializeAs="String">
                <value>http://192.168.0.10/XFXGComInterface/xfxg_ws.asmx</value>
            </setting>
            <setting name="XF_Web_Concise_SendEmailWS_sendemail_ws" serializeAs="String">
                <value>http://192.168.0.10/XFXGComInterface/sendemail_ws.asmx</value>
            </setting>
        </XF_Web_Concise.Properties.Settings>
    </applicationSettings>
</configuration>
